In [30]:
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

from scipy import stats
stats.chisqprob = lambda chisq, df: stats.chi2.sf(chisq, df)

In [31]:
raw_data = pd.read_csv('data/Bank_data.csv').drop("Unnamed: 0",axis=1)
raw_data

     interest_rate  credit  march  may  previous  duration    y
0            1.334     0.0    1.0  0.0       0.0     117.0   no
1            0.767     0.0    0.0  2.0       1.0     274.0  yes
2            4.858     0.0    1.0  0.0       0.0     167.0   no
3            4.120     0.0    0.0  0.0       0.0     686.0  yes
4            4.856     0.0    1.0  0.0       0.0     157.0   no
..             ...     ...    ...  ...       ...       ...  ...
513          1.334     0.0    1.0  0.0       0.0     204.0   no
514          0.861     0.0    0.0  2.0       1.0     806.0  yes
515          0.879     0.0    0.0  0.0       0.0     290.0   no
516          0.877     0.0    0.0  5.0       1.0     473.0  yes
517          4.965     0.0    0.0  0.0       0.0     142.0   no

[518 rows x 7 columns]

In [32]:
raw_data["y"] = raw_data["y"].map({"yes":1,"no":0})

In [33]:
data = raw_data.copy()
data

     interest_rate  credit  march  may  previous  duration  y
0            1.334     0.0    1.0  0.0       0.0     117.0  0
1            0.767     0.0    0.0  2.0       1.0     274.0  1
2            4.858     0.0    1.0  0.0       0.0     167.0  0
3            4.120     0.0    0.0  0.0       0.0     686.0  1
4            4.856     0.0    1.0  0.0       0.0     157.0  0
..             ...     ...    ...  ...       ...       ... ..
513          1.334     0.0    1.0  0.0       0.0     204.0  0
514          0.861     0.0    0.0  2.0       1.0     806.0  1
515          0.879     0.0    0.0  0.0       0.0     290.0  0
516          0.877     0.0    0.0  5.0       1.0     473.0  1
517          4.965     0.0    0.0  0.0       0.0     142.0  0

[518 rows x 7 columns]

In [34]:
x = data.drop("y",axis=1)
y = data["y"]

In [35]:
x1 = sm.add_constant(x)
results = sm.Logit(y,x).fit()
results.summary()

Optimization terminated successfully.
         Current function value: 0.336102
         Iterations 7

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:                  518
Model:                          Logit   Df Residuals:                      512
Method:                           MLE   Df Model:                            5
Date:                Fri, 29 Jan 2021   Pseudo R-squ.:                  0.5151
Time:                        23:34:14   Log-Likelihood:                -174.10
converged:                       True   LL-Null:                       -359.05
Covariance Type:            nonrobust   LLR p-value:                 9.078e-78
=================================================================================
                    coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------
interest_rate    -0.7998      0.079    -10.180      0.000      -0.954      -0.646
credit            2.3241      1.072      2.169      0.030       0.224       4.424
march            -1.8497      0.316     -5.858      0.000      -2.469      -1.231
may               0.1579      0.210      0.752      0.452      -0.254       0.570
previous          1.2663      0.585      2.164      0.030       0.119       2.413
duration          0.0069      0.001     10.218      0.000       0.006       0.008
=================================================================================
"""

In [36]:
raw_data2 = pd.read_csv('data/Bank_data_testing.csv')
data_test = raw_data2.copy()

data_test = data_test.drop(['Unnamed: 0'], axis = 1)

data_test['y'] = data_test['y'].map({'yes':1, 'no':0})
data_test

     interest_rate  credit  march  may  previous  duration  y
0            1.313     0.0    1.0  0.0       0.0     487.0  0
1            4.961     0.0    0.0  0.0       0.0     132.0  0
2            4.856     0.0    1.0  0.0       0.0      92.0  0
3            4.120     0.0    0.0  0.0       0.0    1468.0  1
4            4.963     0.0    0.0  0.0       0.0      36.0  0
..             ...     ...    ...  ...       ...       ... ..
217          4.963     0.0    0.0  0.0       0.0     458.0  1
218          1.264     0.0    1.0  1.0       0.0     397.0  1
219          1.281     0.0    1.0  0.0       0.0      34.0  0
220          0.739     0.0    0.0  2.0       0.0     233.0  0
221          1.046     0.0    0.0  0.0       0.0     238.0  1

[222 rows x 7 columns]

In [37]:
estimators=['interest_rate','credit','march','previous','duration']
y_test = data_test['y']

X1_test = data_test[estimators]
X_test = sm.add_constant(X1_test)

In [38]:
def confusion_matrix(data,actual_values,model):
        
        # Confusion matrix 
        
        # Parameters
        # ----------
        # data: data frame or array
            # data is a data frame formatted in the same way as your input data (without the actual values)
            # e.g. const, var1, var2, etc. Order is very important!
        # actual_values: data frame or array
            # These are the actual values from the test_data
            # In the case of a logistic regression, it should be a single column with 0s and 1s
            
        # model: a LogitResults object
            # this is the variable where you have the fitted model 
            # e.g. results_log in this course
        # ----------
        
        #Predict the values using the Logit model
        pred_values = model.predict(data)
        # Specify the bins 
        bins=np.array([0,0.5,1])
        # Create a histogram, where if values are between 0 and 0.5 tell will be considered 0
        # if they are between 0.5 and 1, they will be considered 1
        cm = np.histogram2d(actual_values, pred_values, bins=bins)[0]
        # Calculate the accuracy
        accuracy = (cm[0,0]+cm[1,1])/cm.sum()
        # Return the confusion matrix and 
        return cm, accuracy

In [39]:
confusion_matrix(X_test, y_test, results)

(array([[  0., 111.],
        [  1., 110.]]),
 0.4954954954954955)

In [40]:
confusion_matrix(x,y, results)

(array([[218.,  41.],
        [ 30., 229.]]),
 0.862934362934363)